* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B068E9), to(#6463E7));
  background-image: linear-gradient(#B068E9, #6463E7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.block {
  display: none;
}

.container {
  margin-top: 8rem;
  margin-bottom: 3rem;
  background-color: white;
  width: 327px;
  height: 535px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 23px;
}

.card__image {
  background-image: url(/images/illustration-woman-online-mobile.svg);
  background-size: cover;
  width: 260px;
  height: 180px;
  position: absolute;
  left: 45%;
  bottom: 69%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__imagebg {
  background-image: url(/images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 52%;
  bottom: 73%;
  width: 260px;
  height: 100px;
}

.card__text {
  padding-top: 8rem;
  width: 280px;
  font-family: Kumbh Sans;
  min-height: 407px;
  overflow: hidden;
}

.card__text h1 {
  color: #1E1F36;
  line-height: 32px;
  text-align: center;
}

.card__text .accordion {
  border: none;
  outline: none;
  background-color: white;
  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #4B4C5F;
  width: 279px;
  height: 34px;
  text-align: left;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: #e7e7e9 solid 1px;
}

.card__text .accordion::after {
  content: url(/images/icon-arrow-down.svg);
  float: right;
}

.card__text .active {
  font-weight: bold;
  border: none;
}

.card__text .active::after {
  content: url(/images/icon-arrow-down.svg);
  float: right;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card__text .accordion:hover {
  font-weight: bold;
  cursor: pointer;
}

.card__text .panel {
  display: display;
  overflow: hidden;
  padding-bottom: 1rem;
  border-bottom: #e7e7e9 solid 1px;
  display: none;
}

.card__text .panel p {
  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
}

@media screen and (min-width: 920px) {
  .container {
    width: 920px;
    height: 509px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    position: relative;
  }
  .block {
    display: block;
    position: absolute;
    z-index: 9999;
    -webkit-transform: translateX(-248%) translateY(50%);
            transform: translateX(-248%) translateY(50%);
  }
  .images {
    width: 427px;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .images .card__image {
    background-image: url(/images/illustration-woman-online-desktop.svg);
    position: absolute;
    width: 470px;
    height: 359px;
    top: 250px;
    left: 150px;
  }
  .images .card__imagebg {
    background-image: url(/images/bg-pattern-desktop.svg);
    width: 900px;
    height: 650px;
    position: absolute;
    top: 200px;
    background-size: cover;
    background-position: -290px;
  }
  .card__text {
    padding-top: 5rem;
    margin-right: 6rem;
  }
  .card__text h1 {
    text-align: left;
  }
  .card__text .accordion {
    margin-top: 1.5rem;
  }
  .card__text .accordion:hover {
    font-weight: bold;
    color: #F47B56;
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */