// variables


// colorText
@mixin question {
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #4B4C5F;
}

@mixin answer {
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #787887; 
    
}
@mixin questionhover {
    font-family: Kumbh Sans;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 13px;
color: #1E1F36;
cursor: pointer;
    
}

// dividers
$colorDividers: hsl(240, 5%, 91%);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
    

}

body{
    min-height: 100vh;
    background-image: linear-gradient(#B068E9,#6463E7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

   
    
}

.block{

    display: none;
}

.container{
    margin-top: 8rem;
    margin-bottom: 3rem;
    background-color: white;
    width: 327px;
    height: 535px;
    position: relative;
     display: flex;
     justify-content: center;
    border-radius: 23px;
   
    
    
}


.card__image{

 background-image: url(/images/illustration-woman-online-mobile.svg);
 background-size: cover;
 width: 260px;
 height: 180px;
 position: absolute;
 left: 45%;
 bottom: 69%;
 transform: translate(-50%,-50%);

}

.card__imagebg{

    background-image: url(/images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 52%;
    bottom: 73%;
    width: 260px;
    height: 100px;
}

.card__text{
    padding-top: 8rem;
    width: 280px;
    font-family: Kumbh Sans;
    min-height: 407px;
    overflow: hidden;

    h1{
        color: #1E1F36;
        line-height: 32px;
        text-align: center;

    }

    .accordion{

        border: none;
        outline: none;
        background-color: white;
        @include question();
        width: 279px;
        height: 34px;
        text-align: left;
        margin-top: 1rem;
       padding-bottom: 1rem;
        border-bottom: $colorDividers solid 1px;
        
    }
    .accordion::after{

        content:url(/images/icon-arrow-down.svg);
        
        float: right;
        

    }

    .active{
        font-weight: bold;
        border: none;
        

    }
    .active::after{

        content: url(/images/icon-arrow-down.svg);
        float: right;
        transform: rotate(180deg);
    }

    .accordion:hover{
        
        font-weight: bold;
        cursor: pointer;
    }

    .panel{

        
        display: display;
        overflow: hidden;
        padding-bottom: 1rem;
        border-bottom: $colorDividers solid 1px;
        display: none;
        

        

            p{
                @include answer();

            }
    }

}

@media screen and (min-width: 920px){

    .container{
        
        width: 920px;
        height: 509px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        position: relative;
        
        
    }
    
    .block{

        display: block;
        position: absolute;
        z-index: 9999;
        transform: translateX(-248%) translateY(50%);
    }
    .images{


        width: 427px;
        height: 100%;
        overflow: hidden;
        position: relative;
        
        .card__image{
    
            background-image: url(/images/illustration-woman-online-desktop.svg);
            position: absolute;
            width: 470px;
            height: 359px;
            top: 250px;
            left: 150px;
            
            
        }

        .card__imagebg{

            background-image: url(/images/bg-pattern-desktop.svg);
            width: 900px;
            height: 650px;
            position: absolute;
            top: 200px;
            background-size: cover;
            background-position: -290px;
            
        }

       
        
    }
    
    
    
    .card__text{

        padding-top: 5rem;
        margin-right:6rem;


        h1{

            text-align: left;
        }

        .accordion{

            margin-top: 1.5rem;
        }

        .accordion:hover{
        
            font-weight: bold;
            color: #F47B56;
            cursor: pointer;
        }

    }


}